env: dev

base_url: http://localhost/dummy2/dummy2

path:
    public_folder: pub
    uploads_folder: pub/uploads

config:
    routes: app/config/routes.yml
    repositories: app/config/repositories.yml

database:
    adapter: MYSQL
    host: localhost
    user: root
    password: ~
    dbname: dbname

auth:
    - user: michael
      password: michael
    - user: stefano
      password: stefano
    